# Backend Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: todo-lab
  labels:
    app: todo-backend
    env: dev
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      containers:
      - name: backend
        image: ahsan98/mernapp:backend
        imagePullPolicy: IfNotPresent
        ports:
        - name: backend-port
          containerPort: 8080         # Port matching index.js

        env:
        - name: MONGO_CONN_STR
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: MONGO_CONN_STR
        - name: USE_DB_AUTH
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: USE_DB_AUTH
        - name: PORT
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: PORT

        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: MONGO_USERNAME
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: MONGO_PASSWORD

        livenessProbe:
          httpGet:
            path: /ok
            port: backend-port
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /ok
            port: backend-port
          initialDelaySeconds: 5
          periodSeconds: 5

        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
