# Backend Service
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: dev
  labels:
    app: todo-backend
spec:
  selector:
    app: todo-backend
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
