# MongoDB Headless Service
apiVersion: v1
kind: Service
metadata:
  name: mongodb-svc
  namespace: todo-lab
  labels:
    app: mongodb
    env: dev
spec:
  clusterIP: None
  selector:
    app: mongodb
  ports:
  - port: 27017
    targetPort: mongodb
    protocol: TCP
